/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
/*
··· cosas complicadas que no salieron ···

@media (width > 768px ) {
    body{
        background-color: white;
    }
}
#navegador{
    border: 2px solid red;
    background-color: blueviolet;
    display: flex;
    justify-content: flex-start;
}

#navegador .div-2 button{
    border: 2px solid greenyellow;
    position: relative;
    left: 900px;
    

}
.div-1 ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    border:2px solid yellow;
    position: relative;
    top: 5;

    
}
.div-1 a{
    color: white;
    text-decoration: none;
}
.div-1 img{
    width: 5rem;
    height: 1.5rem;
}
*/
body{
    background-color: purple;
    margin: 0;
    text-align: center;
}



.trusted{
    background-color: rgb(237, 226, 212);
}

.teams{
    background-color: white;
}
.teams p{
    color: purple;
}
.welcome{
    background-color: purple;
}
.welcome h3{
    color: white;
}
.footer{
    background-color: white;
}
.imagen-principal img{
    width: 400px;
}
#header{
    color: white;
}
#header h1{
    font-size: 60px;
}
#header div span{
    color: rgb(216, 216, 66);
}  
#header button img{
    width: 20px;
}
#header button{
    height: 30px;
    background-color: rgb(70, 70, 211);
}
#header button span{
    color: white;
}
.trusted div img{
    width: 110px;
    height: 50px;
}
.div-1 img{
    width: 120px;
    height: 40px;
}






